<h2>Image Capture Settings</h2>

<table class="layouttable" style="width: 100%;table-layout: fixed;">


    <tr><td class="headtd"><h3>Camera Parameters</h3></td><td class="headtd"><h3>Test Image</h3></tr>


<tr>
    <td>

<table id="cameraparams" class="display compact" cellspacing="0" width="100%">
    <thead><tr><th>Parameter</th><th>Value</th></tr></thead>
    <tbody>
    <tr><td>Brightness</td><td><input name="" value="" type="text" /></td></tr>
    <tr><td>Saturation</td><td><input name="" value="" type="text" /></td></tr>
    <tr><td>Contrast</td><td><input name="" value="" type="text" /></td></tr>
    <tr><td>Sharpness</td><td><input name="" value="" type="text" /></td></tr>
    <tr><td>Exposure</td><td><input name="" value="" type="text" /></td></tr>
    </tbody>
</table>

<script>
$(document).ready(function() {
    $('#cameraparams').DataTable( {
        "paging":   false,
        "ordering": false,
        "info":     false,
        "searching":false
    } );
} );
</script>

    </td>
    <td></td></tr></table>


